<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Modify Menu Item</title>

    <style>
    label{
      display:table;
      margin-bottom:20px;
    }
    </style>
  </head>
  <body>

    {% if messages %}
      {% for message in messages %}
        <p style="color:red;">{{message}}</p>
      {% endfor %}
    {% endif %}

    <form action="/admin/menu/{{this_item.id}}/modify_process" method="post">
      {% csrf_token %}
      <label>Item Name: <input type="text" name="item_name" value="{{this_item.item_name}}"></label>
      <label>Item Price: <input type="text" name="item_price" value="{{this_item.item_price}}"></label>
      <label>Item Category: <select name="item_category">
          <option value="{{this_item.item_category}}">{{this_item.item_category}}</option>
          <option value=""></option>
          <option value="smoothie">Smoothie</option>
          <option value="slush">Slush</option>
          <option value="special_smoothie">Special Smoothie</option>
          <option value="milkshake">Milkshake</option>
          <option value="milk_tea">Milk Tea</option>
          <option value="jasmine_tea">Jasmine Tea</option>
          <option value="special_drink">Special Drink</option>
          <option value="topping">Topping</option>
          <option value="foam">Foam</option>
          <option value="waffle">Waffle</option>
          <option value="snow">Snow</option>
          <option value="acai_pitaya">Acai & Pitaya</option>
          <option value="coffee">Coffee</option>
          <option value="hot_tea">Hot Tea</option>
          <option value="icecream">Ice Cream</option>
          <option value="icecream_cone">Ice Cream Cone</option>
      </select></label>
      <input type="submit" value="Modify">
      <a href="/admin">Cancel</a>
    </form>
  </body>
</html>
